/* logo de ti amo */
	header .logo{
	  width:20px;
	  height:20px;
	  margin-left:330px;
    }

/* texto de bienvenida a kmila*/
	.bienv{
		margin-left:1070px;
		margin-top:-109px;
		width:150px;
		color:#4682B4; 
		font-size:23px;
    font-family: 'Fredericka the Great', cursive;
	}

/*otros*/
    .mns{
	  font-size:20px;
    }

	.salir{
      margin-top:-22px;
      margin-left:1230px;
      font-size:18px;
      font-family:serif;
      color:red;

	}



   /*-----BOTONES SIGUIENTE Y ANTERIOR-----*/

   .buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* SIGUIENTE */

button.btn-sig, .buttons a.btn-sig{
    color:#529214;
    margin-left:900px;
    margin-top:100px;
    border-radius:20px; 
}
.buttons a.btn-sig:hover, button.btn-sig:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.btn-sig:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* ANTERIOR */

.buttons a.btn-ant, button.btn-ant{
    color:#d12f19;
    margin-top:100px;
    margin-left:100px;
    border-radius:20px; 
}
.buttons a.btn-ant:hover, button.btn-ant:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.btn-ant:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}


/*---------------------------------recuadros de texto central------------------------------------*/

#nombre{
font-size:25px;
font-family:'Ribeye Marrow';
text-align:center;
}

.cuad{
  border-style:solid;
  border-radius:45px;
  width:250px;
  height:250px;
  margin-top:80px;
  margin-left:30px;
  background-color:#77DD77;
}

.cuad2{
  border-style:solid;
  border-radius:45px;
  width:250px;
  height:250px;
  margin-top:-255px;
  margin-left:350px;
  background-color:#FF5555;
}

.cuad3{
  border-style:solid;
  border-radius:45px;
  width:250px;
  height:250px;
  margin-top:-255px;
  margin-left:670px;
  background-color:#FFB347;
}

.cuad4{
  border-style:solid;
  border-radius:45px;
  width:250px;
  height:250px;
  margin-top:-255px;
  margin-left:980px;
  background-color:#7777FF;
}


.imgcj{
  width:160px;
  height:160px;
  border-radius:20px;
  margin-left:45px;
  margin-top:40px;
}

.pag{
  background-color:#fdfd96;
}





/*---------------------------------------pie de pagina--------------------------------------------*/

   footer hr{
   	 margin-top:200px;
   	 border:1px double;
   }

   footer p{
   	margin-left:1220px;
   	margin-top:50px;
   }

   footer div p{
   	margin-left:1040px;
   	margin-top:-34px;
   	font-size:13px;
   }

