/* reproductor de audio */   
<section>
      <!--
            (controls autoplay loop) : reproduce automaticamente carga.
            (preload="auto" controls) : reproductor gris predeterminado pero hay que darle play para iniciar.
      -->
      <audio id="demo" src="music/no importa.mp3" autopla controls></audio>
        <div class="audio">
           <button class="control_aud" onclick="document.getElementById('demo').play()">Reproducir el Audio</button>
           <button class="control_aud" onclick="document.getElementById('demo').pause()">Pausar el Audio</button>
           <button class="control_aud" onclick="document.getElementById('demo').volume+=0.1">+</button>
           <button class="control_aud" onclick="document.getElementById('demo').volume-=0.1">-</button>
        </div>
</section>


/*imagenes*/

  <div class="imagenes">
      <img id="img1" src="img/1.jpg">
      <img id="img2" src="img/10.jpg">
      <img id="img3" src="img/5.jpg">
      <img id="img4" src="img/3.jpg">
      <img id="rueda" src="img/rueda.png" type="submit" value="BiEnVeNiDa" />   
 </div>

/*-----Rotacion con hover-----*/
#img1{
   width:115px;
   height:100px;
   transition: 2.5s ease;
    -moz-transition: 2.5s ease; /* Firefox */
    -webkit-transition: 2.5s ease; /* Chrome - Safari */
    -o-transition: 2.5s ease; /* Opera */
}
#img1:hover{
    transform : rotate(360deg);
    -moz-transform : rotate(360deg); /* Firefox */
    -webkit-transform : rotate(360deg); /* Chrome - Safari */
    -o-transform : rotate(360deg); /* Opera */
}


/*-----Rotacion infinita-----*/
#img2{
   width:115px;
   height:100px;
   animation-name: rotateinfinite;-webkit-animation-name: rotateinfinite;
   animation-timing-function: linear;-webkit-animation-timing-function: linear;
   animation-iteration-count: infinite;-webkit-animation-iteration-count: infinite;
   animation-duration: 6s;-webkit-animation-duration: 6s;
}

@keyframes rotateinfinite {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(-360deg);
  }
}
@-webkit-keyframes rotateinfinite {
  from {
    -webkit-transform: rotateY(0deg);
  }
  to {
    -webkit-transform: rotateY(-360deg);
}

  #img2:hover {
     animation-play-state: paused;
   }
}

/*-----Rotacion 2 con hover-----*/
#img3{
   width:115px;
   height:100px;
   transform:rotateX(0deg);
   transition-duration: 2s;
   -webkit-transform:rotateY(0deg);
   -webkit-transition-duration: 2s;
}

#img3:hover{
    transform:rotateX(180deg);
   transition-duration: 3s;
   -webkit-transform:rotateY(180deg);
   -webkit-transition-duration: 2s;
}


/*-----Rotacion inversa a la img1 -----*/
#img4{
   width:115px;
   height:100px;
      transition: 2.5s ease;
    -moz-transition: 2.5s ease; /* Firefox */
    -webkit-transition: 2.5s ease; /* Chrome - Safari */
    -o-transition: 2.5s ease; /* Opera */
}

#img4:hover{
    transform : rotate(-360deg);
    -moz-transform : rotate(-360deg); /* Firefox */
    -webkit-transform : rotate(-360deg); /* Chrome - Safari */
    -o-transform : rotate(-360deg); /* Opera */
}

/*-----Rotacion de la img rueda -----*/
#rueda{
    transition: 2.5s ease;
    -moz-transition: 2.5s ease; /* Firefox */
    -webkit-transition: 2.5s ease; /* Chrome - Safari */
    -o-transition: 2.5s ease; /* Opera */
}
 
#rueda:hover{
    transform : rotate(360deg);
    -moz-transform : rotate(360deg); /* Firefox */
    -webkit-transform : rotate(360deg); /* Chrome - Safari */
    -o-transform : rotate(360deg); /* Opera */
}



/*-----------------------------------------------font de letras de google para agregar a css------------------------------------------------------*/

/*
font-family:'Freckle Face';
font-family:'Courgette';
font-family:'Combo';
font-family:'Fredericka the Great';
font-family:'Handlee';
font-family:'Indie Flower';
font-family:'Kaushan Script';
font-family:'Kranky';
font-family:'Lobster';
font-family:'Marck Script';
font-family:'Nova Oval';
font-family:'Pacifico';
font-family:'Petit Formal Script';
font-family:'Ribeye Marrow';
font-family:'Rock Salt';




font-family: 'Fredericka the Great', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Monoton', cursive;
font-family: 'Kranky', cursive;

*/