/* logo de ti amo */
	header .logo{
	  width:440px;
	  height:300px;
	  margin-left:450px;
    margin-top:5px;
    position:absolute;
    }

/* texto de bienvenida a kmila*/
	.header-top{
    width: 100%;
    text-align: right;
	}
  .bienv .nombre{
    text-align: right;
    color:#4682B4; 
    font-size:23px;
    font-family: 'Fredericka the Great', cursive;
  }
  .salir a{
      margin-top:-21px;
      right: 0;
      font-size:18px;
      font-family:serif;
      color:red;
  }
/* fondos de lados */
	.fondo{
	  width:350px;
	  height: 250px;
	  margin-top:12px;
	  margin-left:0px;

	}
	.fondo2{
	  width:370px;
	  height: 250px;
	  margin-top:-119px;
	  margin-left:520px;
	}

/*otros*/
    .mns{
	  font-size:20px;
    }




/*-----cuadro y texto principal-----*/

   .text{
   	border:solid;
   	border-radius:10px;
   	width:1000px;
   	height:950px;
   	margin-left:230px;
   	margin-top:-50px;
   	position:absolute;
   }
  .buttons{
    margin-top: 1000px;
  }

   /* ----------- Footer ----------- */
   footer{
    width: 100%;
   }

   /*-----BOTONES SIGUIENTE Y ANTERIOR-----*/

   .buttons a, .buttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:12px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* SIGUIENTE */

button.btn-sig, .buttons a.btn-sig{
    color:#529214;
    margin-left:900px;
    margin-top:10px;
}
.buttons a.btn-sig:hover, button.btn-sig:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.btn-sig:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* ANTERIOR */

.buttons a.btn-ant, button.btn-ant{
    color:#d12f19;
    margin-top:10px;
    margin-left:140px;
}
.buttons a.btn-ant:hover, button.btn-ant:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.btn-ant:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}


/*---------------------------------recuadros de texto central------------------------------------*/

article header h1{
  text-align:center;
  font-family: 'IM Fell English SC', serif;
  font-size:45px;

}

article header p{
  font-family: 'Combo', cursive;
  font-size:20px;
  text-align:center;
  
}

article header section audio{
  margin-left:360px;
  
}

article header img{
  width:170px;
  height:170px; 
  margin-left:400px;
  margin-top:10px;
}


/*--------------------------------IMAGENES DE GIF-----------------------------------------*/

.cara1{
  width:210px;
  height:200px;
  margin-left:40px;

}
.cara2{
  width:210px;
  height:200px;
  margin-left:740px;
  margin-top:-160px;

}
.cara3{
  width:210px;
  height:200px;
  margin-left:390px;
  margin-top:-110px;

}

.oportu{
  width:700px;
  height:170px;
  margin-left:155px;
  margin-top:-10px;
}

.peli{
  width:110px;
  height:110px;
  border-radius:8px;
  margin-left:50px;
}
.oz{
  width:110px;
  height:110px;
  border-radius:8px;
  margin-left:100px;
}
.taxi{
  width:110px;
  height:110px;
  border-radius:8px;
  margin-left:150px;
}
.beso{
  width:110px;
  height:110px;
  border-radius:8px;
  margin-left:390px;
  margin-top:-57px;
}




