    @import url(https://fonts.googleapis.com/css?family=Montserrat:700);
    /*
    body.home {
        div { 
            text-align: center;
            background-size: cover;
        }
        div h1 { 
            margin: 0;
            font-size: 15rem; 
            text-transform: uppercase;
            font-family: Montserrat, sans-serif;
            line-height: 1.8;
        }
        .dark h1 {
            color: #fff;
            background: #000;
            mix-blend-mode: darken;
        }
        .light h1 {
            color: #000;
            background: #fff;
            font-size: 17vw;
            mix-blend-mode: lighten;
        }
        .dark {
            background-image: url(../img/4k/corazon.jpg);
        }
        .light {
            background-image: url(../img/4k/corazon.jpg);
        }
    }*/

    body.home {
        height: 100%;
        margin: 0 auto;
        .content-bottom {
            height: 100%;
            position: relative;
            #myCarousel {
                height: 100%;
                .carousel-inner {
                    height: 100%;
                    .item {
                        height: 100%;
                        overflow: hidden;
                        img {
                            background-size: cover;
                            height: 100%;
                            width: 100%;
                        }
                    }
                }
            }
            .flechaBottom {
                position: absolute;
                width: 30%;
                bottom: 10%;
                left: 0;
                right: 0;
                margin: 0 auto;
                text-align: center;
                z-index: 99;
                a {
                }
            }
        }
    }





